/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.slicknav_menu {display:none;}

.fix{overflow:hidden}

body{font-family: 'Lato', sans-serif;}

a{text-decoration:none}
a:hover{text-decoration:none;outline:none}
a:focus{text-decoration:none;outline:none}
h1,h2,h3,h4,h5,h6{margin:0}
p{margin:0;font-family: 'Fjalla One', sans-serif;}


.header_area{background:#202628;}
.container{}

.logo{}
.logo h1{color: #e7e7e7;
font-size: 25px;
margin: 0;
padding: 30px;
text-transform: uppercase;}

.slider_area{}
.slider_area img{background-size: cover;
width: 100%;}

.mainmenu{float:right;}
.mainmenu ul#nav{margin:0;padding:0;list-style:none}
.mainmenu ul#nav li{display:inline}
.mainmenu ul#nav li a{color: #e7e7e7;
display: inline-block;
font-size: 13px;
padding: 35px 23px;
text-transform: uppercase;}
.mainmenu ul#nav li a:hover{background:#E84C3D;}


.slider_area{}
.promo_area{background:#E7E7E7;padding: 80px;}

.single_promo{}
.single_promo i{background: #E84C3D none repeat scroll 0 0;
border-radius: 500px;
color: #fff;
height: 70px;
width: 70px;
padding-top: 23px;
text-align: center;
font-size: 27px;margin-right:30px}


.promo_title{float: right;
width: 260px;}
.promo_title h1{color: #202628;
font-size: 21px;
text-transform: uppercase;}
.promo_title p{color:#767c7e;font-size:14px;line-height:24px}
.promo_title a{color:#E84C3D}


.maincontent_area{padding:80px 0}
.justo{padding-bottom:80px}
.donec h1{color: #202628;font-size: 21px;text-transform: uppercase;}
.donec h2{color: #e84c3d;
font-size: 20px;
padding: 12px 0;}

.blog_post_list{margin-left: -30px;}
.single_post{float: left;margin-left: 30px;width: 360px;}
.single_post h2{color: #202628;
padding: 0;font-weight: 700;}
.single_post p{color: #767c7e;
font-size: 14px;
line-height: 24px;
padding: 15px 0;}
.single_post a{background: #e84c3d none repeat scroll 0 0;
border-radius: 50px;
color: #fff;
padding: 4px 8px;
text-transform: uppercase;}
.morbi{background: #e84c3d none repeat scroll 0 0;
border-radius: 6px;
color: #fff;
margin: 0;
padding: 21px 0 20px;}


.left_testimonial{}
.left_testimonial i{background: #000 none repeat scroll 0 0;
border-radius: 500px;
color: #fff;
font-size: 38px;
height: 70px;
padding-top: 15px;
text-align: center;
width: 70px;margin-right:25px}

.test_title{float: right;
width: 445px;}
.test_title h1,.subscribe h1{font-size: 21px;
padding-bottom: 10px;}
.test_title p{font-size: 16px;font-weight:400
line-height: 24px;}
.test_title p span{font-weight:normal;font-style:italic}

.subscribe{margin-left: 38px;}

.subscribe input[type=email]{border: medium none;border-radius: 20px;font-size: 14px;padding: 5px 44px;width: 244px;}
.subscribe input[type=submit]{background: #000 none repeat scroll 0 0;border: medium none;border-radius: 23px;font-weight: 700;padding: 6px 40px;text-transform: uppercase;color:#fff}


.ali{}
.ali h1,.Nunc_dignissim h1{color: #202628;font-size: 21px;padding:20px 0}
.quam_list{border-bottom: 1px solid #E7E7E7;}
.single_quam{border-top: 1px solid #E7E7E7;padding: 15px 0;}

.single_quam img{}
.don{float: right;margin-left: 30px;width: 260px;}
.don p{line-height:24px;color:#767c7e}
.don a{color:#e84c3d}



.Nunc_dignissim{}
.risu{background:#E7E7E7;padding:20px}
.risu p{color: #767c7e;line-height: 24px;font-weight:400;margin-bottom:20px}
.risu input[type="name"],.risu input[type="email"]{border: medium none;border-radius: 22px;margin-bottom: 10px;padding: 9px;
width: 100%;}

.risu textarea{border: medium none;border-radius: 18px;padding: 6px;width: 100%;margin-bottom: 15px;}
.risu input[type="submit"]{background: #e84c3d none repeat scroll 0 0;border: medium none;border-radius: 20px;color: #fff;
padding: 3px 14px;text-transform: uppercase;}

.steet_number{border-top: 1px solid #E7E7E7;padding:5px 0;}
.steet_number i{font-size: 30px;margin-right: 30px;margin:14px}
.country {float: right;padding: 10px 0;width: 292px;}
.country p{color: #767c7e;
line-height: 24px;}
.country h3{font-size:16px;color:#e84c3d}

.fa-home{}
.fa-phone{}
.fa-envelope{font-size:24px}

.footer_area{background: #202628 none repeat scroll 0 0;padding: 80px 0 40px 0;}
.manu{}
.manu ul#nav{list-style: outside none none;margin: 0;padding: 0;}
.manu ul#nav li{display:inline;position:relative;}
.manu ul#nav li:after{content:"/";position:absolute;color:#fff;padding-top:0px;right:0;top:0}
.manu ul#nav li a{color: #e7e7e7;display: inline-block;padding: 15px 15px 15px 0;}
.manu ul#nav li a:hover{}


.copyright{}
.copyright p{font-size:14px;color:#767c7e}
.copyright p span{color:#e84c3d}


.social_icon{float: right;}
.social_icon a{}
.social_icon i{background: #e84633 none repeat scroll 0 0;border-radius: 500px;font-size: 24px;margin-left: 5px;padding-top: 9px;text-align: center;width: 44px;height:44px;color:#fff}

.fa-facebook{}
.fa-twitter{}
.fa-linkedin{}